* {
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;

}

.logo {
    padding-left: 50px;
}

.section_title {
    padding-right: 200px;
    padding-left: 200px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 120px;
    position: absolute;
    width: 295px;
    height: 1024px;
    left: 2px;
    top: -3px;
    background: #fff;

}

a {
    color: black;
    text-decoration: none;
}

.menu_listing {
    padding: 20px;
    font-size: 20px;
}

.ms_search {
    margin-left: 150px;
}

.list_item {
    padding-top: 100px;
}

.main_content {
    background-color: #fbf9f6;
    width: 1365px;
    height: 100vh;
}
 .bar_chart{
    position: absolute;
        width: 500px;
        left: 350px;
        top: 304px;
    
        
        /* Drop shadow/large */
    
        box-shadow: 0px 20px 24px -4px rgba(197, 197, 197, 0.08), 0px 8px 8px -4px rgba(197, 197, 197, 0.03);
        border-radius: 8px;
 }